*{
  box-sizing: border-box; 
}


body{       /*font-family: 'Playfair Display', serif;*/
    min-width: 1200px; /*ширина контенат*/
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    font-family: "Montserrat", sans-serif;
    color: rgba(174, 124, 120, 1);
    background-color: #E5E5E5;
    font-stretch: normal;
    letter-spacing: normal;

}

                                    /*общие стили*/
a{
  text-decoration: none;
}

h1,h1,h3,h4,h5,h6, p{
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.button{
  border: none;
  background-color: rgba(216, 153, 153, 1);
  border-radius: 40px;
  padding: 30px 68px;
  color: #fff;
  line-height:  ;
  text-align: center;
  vertical-align: middle;
  font-weight: normal;
  font-style: normal;

}

.button:hover,
.button:focus{
  background-color: #ca2c37;
}


.button:active{
  background-color: #ba2732;
  
}

.title{
  margin-bottom: 36px;
  color: rgba(174, 124, 120, 1);
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  font-family: 'Playfair Display', serif;
}

.container{
    width: 1180px; /*ширина контента 1200 = 1180+ паддинги по 10 px*/ 
    margin: 0 auto;
    padding: 0 10px;
}

/*----------------*/


.author-bukets{
  padding-top: 82px;
  margin-bottom: 40px;
}

.author-bukets__catalog{
  display: flex;
}

.catalog{
  padding-bottom: 48px;
}

.catalog__block{
  width: 384px;
  margin-right: 20px;
}

.catalog__photo{
  border-radius: 10px;
  border: none;
  margin-right: 20px;
}

.tulpan{
  margin-top: auto; /*флекс элемент прижмется к низу родителя*/
  height: 404px;
  
}

.rose{
  margin-bottom: auto; /*флекс элемент прижмется к верху родителя*/
  height: 404px;
}

.features{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 45px;
}

.features__item{
  display: flex;
  width: 285px;
}

.features__img{ /* флекс элемент */
  display: inline-block;
  margin-right: 20px;
  margin-bottom: auto;
}

.features__title{
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.features__description{
  font-weight: 400;

}


.popular{
  padding-bottom: 80px;
}


.popular__inner{ /*флекс контенйр*/
  display: flex;
  justify-content: space-between;
}

.popular__box{ /*лекс элеомент*/
  /* width: 387px; */
  flex-grow: 1;
}


.feature-buckets{
  margin-bottom: 80px;
}

.feature-buckets__list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 19px;
}

.feature-buckets__item{
  position: relative;
  
}


.feature-buckets__img{
  display: block;
  border-radius: 10px;

}

.feature-buckets__box{
  position: absolute;
  top: 100px;
  left: center;
  padding: 0 20px;
  text-align: center;
  
}

.feature-buckets__title,
.feature-buckets__description{
  color: #fff;
  display: block;
  margin: 0 auto;
}


.feature-buckets__title{

}

.feature-buckets__description{
  
}


.discount{
  /* max-width: 1200px; ширина кнтента */
  padding-bottom: 80px;
}

.discount__inner{
  display: flex;
  justify-content: flex-start;
}

.discount__description{
  width: 610px;
  box-sizing: border-box;
  padding: 40px 102px;
  padding-right: 20px;
  background-color: #AE7C78;
  color: #fff;
}

.discount__title{
  width: 200px;
  margin-bottom: 24px;
}
  

.steps{
  padding-bottom: 80px;
}

.steps__list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;

}

.steps__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 285px;
}



.steps__image{
  display: block;
  margin-bottom: 18px;
}

.steps__title{
  margin-bottom: 8px;
}

.news{
  padding-bottom: 80px;
}


.reviews{
  padding-bottom: 80px;
}

.reviews__inner{
  border: 1px solid #AE7C78;
  padding-left: 44px;
  padding-right: 44px;
  padding-top: 40px;
  padding-bottom: 64px;
}

.reviews__list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 106px;
}

.footer{
  background-image: url("../img/map.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}