/*шрифты берем отсда https://fontstorage.com/ru/ и https://www.cssfontstack.com/*/
/*как поключить шрифты https://htmlacademy.ru/blog/boost/tutorial/fonts-loading*/

/*Для улучшения производительности правило @font-face лучше всего прописывать в самом начале CSS-файла. */
/* @font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально(то есть системнй) 
  src: local("Roboto"),
      /* Если не получилось, загрузит woff2(новее фрмат) 
      url("../fonts/Montserrat.woff2") format("woff2"),
      /* Если браузер не поддерживает woff2, загрузит woff 
      url("../fonts/Montserrat.woff") format("woff");
} */

*, *::before, *::after {
  box-sizing: border-box; /*border и padding входят в ширину контента*/
}


body {
  
  min-width: 1200px;
  /*ширина контенат*/
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  font-family: "Montserrat", "Arial", sans-serif; /*sans-serif значит без засечек*/
  color: rgba(174, 124, 120, 1);
  background-color: #E5E5E5;
  font-stretch: normal;
  letter-spacing: normal;

}

/*общие стили*/
a {
  text-decoration: none;
}

h1,
h1,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button {
  border: none;
  background-color: rgba(216, 153, 153, 1);
  border-radius: 40px;
  padding: 30px 68px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  font-weight: normal;
  font-style: normal;

}

/*.button:hover,
.button:focus,
.button:active*/

.button:hover,
.button:focus {
  background-color: #ca2c37;
}


.button:active {
  background-color: #ba2732;

}

.title {
  margin-bottom: 36px;
  color: rgba(174, 124, 120, 1);
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  font-family: "Playfair Display", serif; /*serif значит с засечками*/
  letter-spacing: 0.02 em; /*превратиь % в em */
}

.container {
  width: 1180px;
  /*ширина контента 1200 = 1180+ паддинги по 10 px*/
  margin: 0 auto;
  padding: 0 10px;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*----------------*/

.header {
  border-top: 1px solid rgba(174, 124, 120, 1);
  border-bottom: 1px solid rgba(174, 124, 120, 1);
  margin-top: 26px;
}

.header__inner {
  /* max-width: 1062px; */
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header__menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 496px;
}


.menu__item{
  flex-grow: 1;
}

.menu__item:not(:last-child) {
  /*у всех кроме послденего*/
  margin-right: 89px;
}

.menu__link {
  /*a*/
  display: inline-block;
  padding: 22px 0;
  vertical-align: middle;
  color: rgba(174, 124, 120, 1);
}

.menu__link:hover,
.menu__link:focus{
  color: rgba(216, 153, 153, 1);
}



.author-bukets {
  padding-top: 82px;
  margin-bottom: 40px;
}

.author-bukets__catalog {
  display: flex;
}



.catalog {
  padding-bottom: 48px;
}

.catalog__block {
  width: 384px;
  margin-right: 20px;
}

.catalog__block h1{
  width: 100%;
  font-family: "Playfair Display", "Arial", serif;
  font-size: 44px;
  line-height: 58px;
  font-weight: 400;

}


.catalog__block span{
  font-style: italic;
}

.catalog__block h2{
  margin-bottom: 64px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
}

.catalog__button{
  display: inline-block;
}

.catalog__photo {
  border-radius: 10px;
  border: none;
  margin-right: 20px;
}



.tulpan {
  margin-top: auto;
  /*флекс элемент прижмется к низу родителя*/
  height: 404px;
  margin-right: 20px;

}

.rose {
  margin-bottom: auto;
  /*флекс элемент прижмется к верху родителя*/
  height: 420px;
}



.features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 45px;
}

.features__item {
  display: flex;
  width: 285px;
}

.features__box{ /*родитель для иконки, относительно этого позиционируем иконки*/
  position: relative;
  
  padding-left: 20px; /*метсо для иконки*/
}

.features__item .features__box:first-child{
  /* padding-left: 120px; */
}


.features__box::before{
  content: "";
  position: absolute;
  
  left: 0;
  width: 82px;
  height: 52px;
  
}

.features__box--feature1{
  background-image: url("../img/f1.svg");
  background-size: 82px 52px;
  background-position: 0 0;
  background-repeat: no-repeat;
} 

.features__box--feature2{
  background-image: url("../img/f2.svg");
  background-size: 52px 52px;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.features__box--feature3{
  background-image: url("../img/f3.svg");
  background-size: 58px 52px;
  background-position: 0 0;
  background-repeat: no-repeat;
}


.features__img {
  /* флекс элемент */
  display: inline-block;
  margin-right: 20px;
  margin-bottom: auto;
}

.features__title {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.features__description {
  width: 285px;
  font-weight: 400;

}



.popular {
  padding-bottom: 80px;
}

.popular__inner {
  /*флекс контенйр*/
  display: flex;
  justify-content: space-between;
}

.popular__box {
  /*лекс элеомент*/
  /* width: 387px; */
  flex-grow: 1;
}


.feature-buckets {
  margin-bottom: 80px;
}

.feature-buckets__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 19px;
}

.feature-buckets__item {
  position: relative;

}

.feature-buckets__img {
  display: block;
  border-radius: 10px;
}

.feature-buckets__box {
  position: absolute;
  top: 100px;
  left: center;
  padding: 0 20px;
  text-align: center;

}

.feature-buckets__title,
.feature-buckets__description {
  color: #fff;
  display: block;
  margin: 0 auto;
}

.feature-buckets__title {}

.feature-buckets__description {}



.discount {
  /* max-width: 1200px; ширина кнтента */
  padding-bottom: 80px;
}

.discount__inner {
  display: flex;
  justify-content: flex-start;
}

.discount__description {
  width: 610px;
  box-sizing: border-box;
  padding: 40px 102px;
  padding-right: 20px;
  background-color: #AE7C78;
  color: #fff;
}

.discount__title {
  width: 200px;
  margin-bottom: 24px;
}



.steps {
  padding-bottom: 80px;
}

.steps__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
}

.steps__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 285px;
}

.steps__image {
  display: block;
  margin-bottom: 18px;
}

.steps__title {
  margin-bottom: 8px;
}



.news {
  padding-bottom: 80px;
}



.reviews {
  padding-bottom: 80px;
}

.reviews__inner {
  border: 1px solid #AE7C78;
  padding-left: 44px;
  padding-right: 44px;
  padding-top: 40px;
  padding-bottom: 64px;
}

.reviews__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 106px;
}



.footer {}


.footer__map {
  /*карта*/
  position: relative;
  /*бужемотносиельно карты позиционирвать баннер*/
  /* z-index: 1; */
  bottom: 0;
  width: 100%;
  /*чтоб на  всю ширину экрана тянулась*/

  height: 644px;
  margin: 0;
  padding: 0;
}

.footer__offer {
  /*блок с объявлением*/
  /* content: "";
  position: absolute; */
  top: 10px;
  left: 34px;

  width: 386px;
  height: 520px;
  background-color: rgba(217, 217, 217, 0.3);
  z-index: 10;

}

.footer__background {
  background-color: #AE7C78;
  padding: 24px 0;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__menu {
  display: flex;
  align-items: center;
  width: 800px;
}

.footer__menu-item:not(:last-child) {
  /*у всех кроме поденего*/
  margin-right: 65px;
}

.footer__menu-links {
  color: rgba(255, 255, 255, 1);
}

.footer__socials {
  display: flex;
  align-items: center;
  width: 97px;
}